src/main/mule/global/processbusinessApi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
   <flow name="processapirami-main">
        <http:listener config-ref="processapirami-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Logger" doc:id="b2ad99c9-7e05-4f98-a764-c67ccd483110" message="  ${http.requestor.fastGo.host}"/>
		<apikit:router config-ref="processapirami-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
           
        </error-handler>
    </flow>
    <flow name="processapirami-console">
        <http:listener config-ref="processapirami-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="processapirami-config" />
		<error-handler ref="globalErrorHandlerError_Handler" />
    </flow>
    <sub-flow name="processbusinessApiSub_Flow" doc:id="ea3cdf59-ed16-441a-aeae-736cf66d2c0a" >
		<ee:transform doc:name="initialize varibales for request transform mesage" doc:id="b5c0a612-cd7b-47da-9c5e-86aba588c2cd" >
		
			 <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.queryParams.companyName]]></ee:set-variable>
				<ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
				<ee:set-variable variableName="departureLocation" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParameters.'departureLocation']]></ee:set-variable>
				<ee:set-variable variableName="destinationLocation" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParameters.'destinationLocation']]></ee:set-variable>
            </ee:variables>
		</ee:transform>
	</sub-flow>
	<flow name="get:\booking\(transportType)\routes:processapirami-config">
        <flow-ref doc:name="Flow Reference" doc:id="e8a94d64-2afb-48d1-aa6f-4f7a35245ed8" name="processbusinessApiSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="8ed68db7-d22a-4a04-9dd4-a773ca5510a2" message="Request Received  for Routes processApi for BAPI  for trasactionId #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="ca5e3b5f-7617-4c94-8606-f845c0decc5e" name="getRoutes-implementationSub_Flow" />
		<logger level="INFO" doc:name="Logger" doc:id="bfe0e413-9097-41f1-bd00-2ff701c88763" message="Response sent for Routes processApi for BAPI  for trasactionId #[vars.transactionId]"/>
    
    </flow>
    <flow name="get:\booking\(transportType)\schedules:processapirami-config">
        <flow-ref doc:name="Flow Reference" doc:id="e8683511-b131-4a55-83bc-ea5cf5d07041" name="processbusinessApiSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="4e9e8528-429e-4feb-b9b4-5c30a94cbc7c" message="Request Received  for Schedules processApi for BAPI for trasactionId #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="b7c3aa34-2c4b-4d68-900f-329beaf990fb" name="get-SchedulesimplementationSub_Flow" />
		<logger level="INFO" doc:name="Logger" doc:id="8d25c5c8-c4b6-49ca-8303-dd2edae65d57" message="Response sent for schedules processApi for BAPI for trasactionId #[vars.transactionId]"/>
    </flow>
</mule>
